.visible {
    animation: fadein 1000ms ease-in-out;
}

.hide {
    animation: fadeout 1000ms ease-in-out;
}

@keyframes fadein {
    from {
        opacity: 0;
        transform: translateY(-5%);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
        transform: translateY(0%);
    }

    to {
        opacity: 0;
        transform: translateY(5%);
    }
}
